@model List<Reactivities.MVC.ViewModels.ActivityViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<container>
    <ul class="list-group">
        @foreach (var i in Model)
        {
            <li class="list-group-item" id="@i.Id">@i.Title</li>
        }
    </ul>
</container>

